/* Layout */

body {
    width: 100%;
    background: center / cover rgba(216, 216, 208, 0.8);
    /* background: #d8d8d0; */
}

h2 {
    color: red;
}

.navbar {
    background-color: rgba(148, 156, 155, 0.6);
    height: 49px;
}

.nav-link {
    color: rgba(246, 243, 246, 0.986) !important;
    font-size: 20px;
    /* font-weight: bold; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(173, 172, 172) !important;
}

.collapse {
    background-color: rgba(110, 114, 113);
}


/* Pages */

  .textarea-control{
    width: 100%;
    height: 200px;
  }


  
